asgiref==3.11.0
Django==6.0
channels==4.2.0
sqlparse==0.5.4
tzdata==2025.3
pandas
openpyxl
numpy
django-allauth
djangorestframework
whitenoise
environ
psycopg2-binary
pillow
django-widget-tweaks
gunicorn
requests
paramiko
faster-whisper
python-docx
# Core
pandas
openpyxl
langchain
langchain-anthropic
langgraph>=0.1.0
pillow>=10.0.0
